@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

* {
  /* borderとpaddingを枠内に収めるのでデザインが楽 */
  box-sizing:border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7258e2);
  font-family: 'Noto Sans JP', sans-serif;
  /* すべてのエレメントをセンターに配置 */
  display: flex;
  /* 縦に配置 */
  align-items:center;
  /* コンテンツを縦の真ん中に配置※縦の高さを設定する必要あり */
  justify-content: center;
  /* vhはview port heightの略。これで画面の100％を高さとする。 */
  height: 100vh;
  /* スクロールバーを表示させないように */
  overflow: hidden;
  /* デフォルトであるマージンを除く */
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  border-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left:0;
  height: 50px;
  width: 50px;
  transition: transform 0,3s ease;
}

.btn:focus, 
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}